.section-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: '. spices blends .';
  grid-template-columns: 20% 1fr 1fr 10%;
  column-gap: 2rem;
}

@media (max-width: 600px) {
  .section-container {
    grid-template-areas:
      '. spices .'
      '. blends .';
    grid-template-columns: 1rem 1fr 2rem;
  }
}

.blends-section {
  grid-area: blends;
}

.spices-section {
  grid-area: spices;
}

.spices-main {
  max-height: 80vh;
  overflow-y: scroll;
}

.create-blend,
.spices-filter {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: lightgray;
}

.create-blend {
  line-height: 1.6;
}

.filter-input {
  width: 60%;
  font-size: 1.5rem;
}
